@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  ul,
  li {
    list-style: none;
  }

  .page-header {
    color: #000000;
    background: #FFFFFF;
  }

  .navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto ;
  }

  .navigation-list {
    margin: 0;
    padding: 0;
    width: 1200px; 
  }

 body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    background-color: #E5E5E5;
  }

  .navigation-link {
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
  }

  .page-container {
  width: 1200px;
  margin: 0 auto;
  background-image: url("../img/index-background.jpeg");
  background-repeat: no-repeat;
}

  .description {
    text-align: center;
    vertical-align: top;
    background:  #ffffff;
  }
  
  .description-title {
    font-size: 30px;
    line-height: 36px;
  }

  .description-reason {
    font-size: 22px;
    line-height: 36px;
    background: #FFFFFF;
  } 

  .advantages-list {
    text-align: center;
    vertical-align: top;
  }

  .advantages-item {
    display: flex;
  }

  .advantages-item.dark-blue {
    text-align: center;
    vertical-align: top;
    background: #83B3D3;
  }

  .wrap {
    width: 400px;
  }

  .advantages-title.dark-blue {
    font-family: "PT Sans";
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    vertical-align: top;
    background: #83B3D3;
    color: #FFFFFF;
  }

  .advantages-number.dark-blue,
  .advantages-description.dark-blue {
    text-align: center;
    vertical-align: top;
    color: #FFFFFF;
  }  

  .home,
  .souvenir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    width: 400px;
    background: rgba(131, 179, 211, 0.12);
  }

  .blue {
    padding: 0;
    text-align: center;
    vertical-align: top;
   background: rgba(131, 179, 211, 0.2);
  }

  .food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    width: 400px;
    background: #FFFFFF;
  }

  .advantages-home,
  .advantages-souvenir,
  .advantages-food {
    font-size: 18px;
    line-height: 21px;
  }

.light-blue {
  padding: 0;
  text-align: center;
  vertical-align: top;
  background: rgba(131, 179, 211, 0.12);
  }

.advantages-title {
  font-size: 24px;
  line-height: 28px;
}

.advantages-descriptio,
.advantages-number {
  font-size: 18px;
  line-height: 21px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-hotel {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  vertical-align: top;
  background: #FFFFFF;
}

.button-search {
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.main-inner {
  background-image: url("../img/catalog/catalog-background-1.jpeg");
  background-repeat: no-repeat;
}

.catalog {
  background-image: url("/Users/marinabulenok/Documents/download/1877715-sedona-32/img/catalog/catalog-background-1.jpeg");
  background-repeat: no-repeat;
  width: 100%;
}

.container {
  display: flex;
}

.inner-header-title {
  font-family: PT Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  vertical-align: top;
  color: #FFFFFF;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  vertical-align: top;
  color: #FFFFFF;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  vertical-align: top;
  color: #FFFFFF;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  vertical-align: top;
  color: #FFFFFF;
}

.catalog-filter-label {
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  vertical-align: top;
  color: #FFFFFF;
}

.button-apply {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.button-throw {
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.hotel-choice {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
  color: #000000;
  width: 1200px;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.type,
.price {
  font-size: 18px;
  line-height: 23px;
}

.button-more {
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  vertical-align: top;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
}

.button-favorite {
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  vertical-align: top;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
}

.button-light {
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  vertical-align: top;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 4px;
}

.rating {
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 160px;
}

.button.pagination-show-more {
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  text-align: center;
  vertical-align: center;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 625px;
  border-radius: 4px;
}

.pagination {
  width: 55px;
}

.pagination-current {
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  background-color: #E5E5E5;
}

.pagination-link {
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.sorting {
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  vertical-align: top;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
}

.newsletter {
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  background-image: url("../img/background-2.jpeg");
  background-repeat: no-repeat;
}

.catalog-newsletter {
  background-color: #fff;
  width: 1200px;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.button-footer {
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contacts-address-phone {
  font-family: "PT Sans";
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  color: #000000;
}

.footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.cover {
  background-color: #fff;
}