@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  ul,
  li {
    list-style: none;
  }

  * {
      margin: 0;
      padding: 0;
  }

  .visually-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  
    .body {
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #E5E5E5;
  }

  .page-header {
    width: 1200px;
    height: 65px;
  }

  .navigation {
      display: flex;
      justify-content: space-around;
  }

  .navigation-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

.navigation-item {
  position: relative;
  margin-right: 33px;
}

  .navigation-link {
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
  }

  .cart-link::after {
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-amount);
    position: absolute;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #7DB550;
    top: -6px;
    right: -13px;
    padding: 0;
  }

  .navigation-link-current-catalog::before {
  position: absolute;
  width: 93px;
  bottom: 562px;
  height: 2px;
  top: 38px;
  left: 0px;
  background-color: #000000;
  content: "";
  }

  .navigation-link:hover {
    color: #756257;
  }

  .navigation-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  padding: 6px 12px;
  border-radius: 10px;
  outline: none;
  }

  .navigation-link:active {
color: #756257;
opacity: 0.3;
background: none;
box-shadow: none;
}

 .navigation-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .navigation-link:hover {
  fill: #756257;
}

.navigation-link:focus {
  box-shadow: unset 0 0 0 3px #83B3D3;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.navigation-link:active {
color: #756257;
opacity: 0.3;
background: none;
box-shadow: none;
}

  .navigation-there {
    display: inline-block;
    margin: 16px;
    padding: 10px 0;
    width: 160px;
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-transform: none;
    border: none;
    cursor: pointer;
  }

.navigation-there:hover {
  background-color: #615048;
}

.navigation-there:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
  outline: none;
}

.navigation-there:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(97, 80, 72, 1);
box-shadow: none;
}

.inner-header {
background-image: url("../img/catalog/catalog-background-1.jpeg");
background-repeat: no-repeat;
width: 1200px;
height: 408px;
}

.inner-header-title {
font-weight: 700;
font-size: 60px;
line-height: 78px;
color: #FFFFFF;
}

.breadcrumbs {
display: flex;
justify-content: start;
margin-left: 73px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.breadcrumbs-link:hover {
opacity: 0.6;
background: none;
}

.breadcrumbs-link:focus {
padding: 3px 8px;
background: none;
border: 3px solid #83B3D3;
background-repeat: 4px;
}

.breadcrumbs-link:active {
color: #FFFFFF;
opacity: 0.3;
background: none;
}

.main {
margin-right: 2px;
}

.main:hover {
background: none;
}

.main:focus {
padding: 6px 8px 9px;
background: none;
border: 3px solid #83B3D3;
background-repeat: 4px;
}

.main:active {
color: #FFFFFF;
opacity: 0.3;
background: none;
}

.vector {
  margin-right: 10px;
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.checkbox-1 {  
  border: none;
  margin-left: 30px;
}

.catalog-filter-style {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-type {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-price {
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 26px;
  margin: 0 313px 34px 0;
  color: #FFFFFF;
}

.checkbox-2 {
  border: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.control:hover .control-mark {
background: rgba(255, 255, 255, 0.6);
border-radius: 4px;
}

.control-input:focus + .control-mark {
background: rgba(255, 255, 255, 0.6);
border: 3px solid #83B3D3;
}

.control-input:active + .control-mark {
background: rgba(255, 255, 255, 0.3);
border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 11px;
  left: 2px;
  width: 7px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 9px;
  right: 1px;
  width: 14px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.filter-group {
  font-weight: 700;
  border: none;
  width: 287px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
background: #FFFFFF;
border: 3px solid #83B3D3;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 5px;
} 

.range-toggle:active {
background: #FFFFFF;
border: 2px solid #83B3D3;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
border-radius: 5px;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -12px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
}

.catalog-filter-label {
  display: flex;
  margin: 0;
  color: #FFFFFF;
}

::placeholder {
  color: #FFFFFF;
}

.catalog-filter-input {
  padding: 14px 19px;
  font: inherit;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  background-color: transparent;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-top: 45px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.catalog-filter-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;   
}

.catalog-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  cursor: pointer;
}

.button-apply:hover {
background-color: #68A2CA;
}

.button-apply:focus {
background-color: #68A2CA;
outline: 3px solid #FFFFFF;
}

.button-apply:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(104, 162, 202, 1);
box-shadow: none;
}

.button-throw {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}

.button-throw:hover {
opacity: 0.6;
background: none;
}

.button-throw:focus {
background: none;
outline: 3px solid #83B3D3;
background-repeat: 4px;
}

.button-throw:active {
color: #FFFFFF;
opacity: 0.3;
background: none;
}

.sorting-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 44px;
    margin-left: 71px;
    margin-bottom: 45px;
    width: 1200px;
}

.find {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    margin-right: 192px;
    text-transform: uppercase;
    color: #000;
}

.button {
  display: flex;
  box-sizing: border-box;
  padding: 17px 16px;
  height: 48px;
  width: 48px;
  margin-left: 8px;
  align-items: center;
  border-width: 2px;
  border-radius: 4px;
  border-color: #E5E5E5;
  border-style: solid;
  background-color: #ffffff;
  cursor: pointer;
} 

.button:hover {
border: 2px solid #83B3D3;
border-radius: 4px;
}

.button:focus {
border: 2px solid #83B3D3;
box-shadow: none;
}

.button:active {
  border: 2px solid #000000;
}

.button-list {
  border-color: #000000;
}

.catalog-right-column {
  width: 1200px;
}

.hotel-list {
  border-top: 1px solid #E5E5E5;
  margin-left: 71px;
}

.select-control {
  width: 287px;
  height: 48px;
  padding-left: 19px;
  margin-right: 81px;
  font: inherit;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../img/catalog/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  color: #333333;
  opacity: 0.3;
  outline: none;
}

.hotel-card {
    display: grid;
    align-items: start;
    justify-items: start;
    grid-template-columns: 217px 159px 582px 160px;
    border-bottom: 1px solid #E5E5E5;
    padding: 30px 0 31px 0;
}

.hotel-card .hotel-card-link {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.hotel-card .hotel-card-title-link {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.hotel-card .type {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.hotel-card .price {
    grid-column: 3 /4;
    grid-row: 2 / 3;
}

.hotel-card .button-more  {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.hotel-card .button-light {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.hotel-card .button-favorite {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.hotel-card .stars {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.hotel-card .rating {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.type,
.price {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}

.button-more {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  width: 151px;
  height: 37px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.button-more:hover {
background-color: #615048;
}

.button-more:focus {
background-color: #615048;
outline: 3px solid #83B3D3;
}

.button-more:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(97, 80, 72, 1);
box-shadow: none;
}

.button-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.button-favorite:hover {
background-color: #68A2CA;
}

.button-favorite:focus {
background-color: #68A2CA;
outline: 3px solid #756257;
}

.button-favorite:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(104, 162, 202, 1);
box-shadow: none;
}

.button-light {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

button-light:hover {
background-color: #7DB54F;
}

.button-light:focus {
background-color: #7DB54F;
outline: 3px solid #756257;
}

.button-light:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(125, 181, 79, 1);
box-shadow: none;
}

.rating {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 10px 0;
  width: 160px;
  text-align: center;
}

.button-show-more {
  margin: 31px 288px;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #83B3D3;
  width: 625px;
  height: 55px;
  border: none;
  cursor: pointer;
}

.button-show-more:hover {
  background-color: #68A2CA;
}

.button-show-more:focus {
  border: 3px solid #756257;
  background-color: #68A2CA;
}

.pbutton-show-more:active {
color: rgba(255, 255, 255, 0.3);
background-color: #68A2CA;
}

.pagination-container {
  width: 1200px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  border-top: 1px solid #E5E5E5;
  background-color: #ffffff;
  margin-left: 71px; 
  padding-top: 31px;
}

.pagination {
  display: flex;
  justify-content: flex-start;
  list-style-type: none; 
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  background-color: #E5E5E5;
  border: none;
  cursor: pointer;
}

.pagination-current:active {
background-color: #F2F2F2;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  cursor: pointer;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  border: 3px solid #756257;
  background-color: #68A2CA;
}

.pagination-link:active {
color: rgba(255, 255, 255, 0.3);
background-color: #68A2CA;
}

.sorting-type {
 display: flex;
 justify-content: flex-end;
}

.sorting {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-right: 51px;
  text-transform: none;
}

.select {
  line-height: 23px;
  font-size: 18px;
}

.select-2 {
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  height: 48px;
  padding: 13px 100px 12px 17px;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../img/catalog/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.select-2:hover,
.select-2:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.page-container {
text-align: center;
margin-top: 89px;
}

.newsletter-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.info {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 26px;
  color: #333333;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.field {
  width: 559px;
  height: 60px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(242, 242, 242, 0.6);
  background-color: #F2F2F2;
  padding: 0 19px 0 22px;
  border-radius: 10px 0 0 10px;
  border: none;
}

.button-container {
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-container:hover {
background-color: #68A2CA;
}

.button-container:focus {
background-color: #68A2CA;
outline: 3px solid #756257;
}

.button-container:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(104, 162, 202, 1);
box-shadow: none;
}

