@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  ul,
  li {
    list-style: none;
  }

  .page-header {
    color: #000000;
    background: #FFFFFF;
  }

  .navigation {
    display: flex;
    justify-content: space-around;
  }

   body {
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #E5E5E5;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .navigation-item {
  position: relative;
}

  .navigation-link {
    display: block;
    margin: 20px 16px;
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
  }

  .cart-link::after {
    content: attr(data-amount);
    position: absolute;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: #7DB550;
    top: 13px;
    right: 3px;
    padding: 0;
  }

  .navigation-link-current::before {
  position: absolute;
  width: 70px;
  bottom: 20px;
  height: 2px;
  top: 70px;
  left: 16px;
  background-color: #000000;
  content: "";
  }

  .navigation-link-current-catalog::before {
  position: absolute;
  width: 93px;
  bottom: 562px;
  height: 2px;
  top: 70px;
  left: 17px;
  background-color: #000000;
  content: "";
  }

  .navigation-link:hover {
    color: #756257;
  }

  .navigation-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  padding: 6px 12px;
  border-radius: 10px;
  outline: none;
  }

  .navigation-link:active {
color: #756257;
opacity: 0.3;
background: none;
box-shadow: none;
}

  .navigation-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  box-shadow: unset 0 0 0 3px #83B3D3;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.navigation-link:active .navigation-icon {
color: #756257;
opacity: 0.3;
background: none;
box-shadow: none;
}

  .navigation-there {
    display: inline-block;
    margin: 16px;
    padding: 10px 0;
    width: 160px;
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-transform: none;
    border: none;
    cursor: pointer;
  }

.navigation-there:hover {
  background-color: #615048;
}

.navigation-there:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
  outline: none;
}

.navigation-there:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(97, 80, 72, 1);
box-shadow: none;
}

  .navigation-logo {
    margin-left: 151px;
    margin-right: 209px;
  }

 .main-container {
  flex-grow: 1;
  margin: 0;
} 

.logo-welcome {
  margin: 51px 372px 83px;
}

  .page-container {
  text-align: center;
  background-image: url("../img/index-background.jpeg");
  background-repeat: no-repeat;
  background-size: 1200px;
}

  .description {
    text-align: center;
    background:  #ffffff;
  }
  
  .description-title {
    border: 0;
    margin-top: 63px;
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 36px;
  }

  .description-reason {
    font-size: 22px;
    line-height: 36px;
    background: #FFFFFF;
    margin-bottom: 79px;
  } 

  .advantages-list {
    padding: 0;
  }

  .advantages-item {
    display: flex;
    justify-content: center;
  }

  .advantages-item.dark-blue {
    vertical-align: top;
    background: #83B3D3;
  }

  .advantages-title.dark-blue {
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 28px;
    background: #83B3D3;
    color: #FFFFFF;
    width: 400px;
  }

  .advantages-number.dark-blue,
  .advantages-description.dark-blue {
    color: #FFFFFF;
    width: 250px;
  }  

  .home,
  .souvenir {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    background: rgba(131, 179, 211, 0.12);
    margin-top: 89px;
  }

  .special {
    margin: 23px 75px;
  }

  .blue {
   padding: 0;
   background: rgba(131, 179, 211, 0.2);
  }

  .food {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    background: #FFFFFF;
    margin-top: 89px;
  }

  .advantages-home,
  .advantages-souvenir,
  .advantages-food {
    font-size: 18px;
    line-height: 21px;
    margin:  0 75px 79px;
  }

.light-blue {
  background: rgba(131, 179, 211, 0.12);
  }

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  margin-top: 98px;
  margin-bottom: 25px;
}

.advantages-number {
  margin: 26px 75px;
  font-size: 18px;
  line-height: 21px;
  width: 250px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 26px 90px 77px;
}

.search-hotel {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  background: #FFFFFF;
}

.search-hotel-title {
  margin: 91px 240px 15px;
}

.input {
  margin: 0 240px 73px;
}

.button-search {
  display: inline-block;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 17px;
  width: 575px;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-search:hover {
background-color: #615048;
}

.button-search:focus {
background-color: #615048;
outline: 3px solid #83B3D3;
}

.button-search:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(97, 80, 72, 1);
box-shadow: none;
}

.put {
margin: 0 312px 91px;
}

.main-inner {
  background-image: url("../img/catalog/catalog-background-1.jpeg");
  background-repeat: no-repeat;
  background-size: 1200px;
}

.inner-header-title {
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 35px 601px 8px 71px ;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  margin-left: 73px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  color: inherit;
  line-height: 21px;
  font-size: 16px;
  text-decoration: none;
}

.breadcrumbs-link:hover {
opacity: 0.6;
background: none;
}

.breadcrumbs-link:focus {
padding: 3px 8px;
background: none;
border: 3px solid #83B3D3;
background-repeat: 4px;
}

.breadcrumbs-link:active {
color: #FFFFFF;
opacity: 0.3;
background: none;
}

.main {
margin-right: 2px;
}

.main:hover {
background: none;
}

.main:focus {
padding: 6px 8px 9px;
background: none;
border: 3px solid #83B3D3;
background-repeat: 4px;
}

.main:active {
color: #FFFFFF;
opacity: 0.3;
background: none;
}

.vector {
  margin-right: 10px;
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.checkbox-1 {  
  padding: 0;
  border: none;
  margin-left: 72px;
}

.catalog-filter-style {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-type {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-price {
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 26px;
  margin: 0 313px 34px 0;
  color: #FFFFFF;
}

.checkbox-2 {
  padding: 0;
  border: none;
  margin-left: 72px;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.control:hover .control-mark {
background: rgba(255, 255, 255, 0.6);
border-radius: 4px;
}

.control-input:focus + .control-mark {
background: rgba(255, 255, 255, 0.6);
border: 3px solid #83B3D3;
}

.control-input:active + .control-mark {
background: rgba(255, 255, 255, 0.3);
border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 11px;
  left: 2px;
  width: 7px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 9px;
  right: 1px;
  width: 14px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.filter-group {
  font-weight: 700;
  margin: 0 81px 94px 167px;
  padding: 0;
  border: none;
  width: 287px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
background: #FFFFFF;
border: 3px solid #83B3D3;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 5px;
} 

.range-toggle:active {
background: #FFFFFF;
border: 2px solid #83B3D3;
box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
border-radius: 5px;
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -12px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
}

.catalog-filter-label {
  display: flex;
  margin: 0;
  color: #FFFFFF;
}

::placeholder {
  color: #FFFFFF;
}

.catalog-filter-input {
  padding: 14px 19px;
  font: inherit;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  background-color: transparent;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-button {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-right: 72px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

.catalog-filter-label {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.button-apply {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  height: 48px;
  margin-bottom: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  cursor: pointer;
}

.button-apply:hover {
background-color: #68A2CA;
}

.button-apply:focus {
background-color: #68A2CA;
outline: 3px solid #FFFFFF;
}

.button-apply:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(104, 162, 202, 1);
box-shadow: none;
}

.button-throw {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}

.button-throw:hover {
opacity: 0.6;
background: none;
}

.button-throw:focus {
background: none;
outline: 3px solid #83B3D3;
background-repeat: 4px;
}

.button-throw:active {
color: #FFFFFF;
opacity: 0.3;
background: none;
}

.hotel-choice {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.cover {
  background-color: #fff;
}

.sorting-container {
  display: flex;
}

.find {
  margin: 50px 192px 0 71px;
}

.sorting-type {
  margin: auto;
 display: flex;
 justify-content: flex-end;
}

.select {
  line-height: 23px;
  font-size: 18px;
  height: 48px;
  margin: 44px 81px 70px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.select-control {
  width: 100%;
  padding: 12px 94px 13px 19px;
  font: inherit;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../img/catalog/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.select-control:active {
  border: 2px solid #E6E6E6;
  color: #333333;
  opacity: 0.3;
  outline: none;
}

.button {
  display: flex;
  box-sizing: border-box;
  margin: 44px 8px 42px 0px;
  padding: 17px 16px;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 4px;
  border-color: #E5E5E5;
  border-style: solid;
  background-color: #ffffff;
  cursor: pointer;
} 

.button:hover {
border: 2px solid #83B3D3;
border-radius: 4px;
}

.button:focus {
border: 2px solid #83B3D3;
box-shadow: none;
}

.button:active {
  border: 2px solid #000000;
}

.button-list {
  border-color: #000000;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.hotel-list {
  margin: 45px 72px 31px;
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #E5E5E5;
  background-color: #ffffff;
}

.sorting {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin: 16px 51px 105px 302px;
  text-transform: none;
}

.select-2 {
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  height: 48px;
  padding: 13px 100px 12px 17px;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("../img/catalog/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  appearance: none;
}

.select-2:hover,
.select-2:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.select-2:active {
  border: 2px solid #E6E6E6;
  color: #333333;
  opacity: 0.3;
  outline: none;
}

.hotel-card {
  display: flex;
  justify-content: start;
  padding: 30px 0 31px 0;
  border-bottom: 1px solid #E5E5E5;
  background-color: #ffffff;
}

.hotel {
  margin-left: 37px;
  margin-right: auto;
}

.less {
  display: flex;
  margin-bottom: 31px;
}

.hotel-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  font-style: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 1px;
}

.type,
.price {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.price {
  margin: auto;
}

.button-more {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  padding: 10px 0;
  margin-right: 8px;
  width: 151px;
  text-align: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.button-more:hover {
background-color: #615048;
}

.button-more:focus {
background-color: #615048;
outline: 3px solid #83B3D3;
}

.button-more:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(97, 80, 72, 1);
box-shadow: none;
}

.button-favorite {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  padding: 10px 0;
  width: 160px;
  text-align: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.button-favorite:hover {
background-color: #68A2CA;
}

.button-favorite:focus {
background-color: #68A2CA;
outline: 3px solid #756257;
}

.button-favorite:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(104, 162, 202, 1);
box-shadow: none;
}

.button-light {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 4px;
  padding: 10px 0;
  width: 160px;
  text-align: center;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

button-light:hover {
background-color: #7DB54F;
}

.button-light:focus {
background-color: #7DB54F;
outline: 3px solid #756257;
}

.button-light:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(125, 181, 79, 1);
box-shadow: none;
}

.rank {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rating {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 10px 0;
  width: 160px;
  text-align: center;
}

.button-show-more {
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-align: center;
  padding: 0;
  margin: 31px 288px;
  width: 625px;
  border: none;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 31px;
  margin: 0 72px 89px;
  border-top: 1px solid #E5E5E5;
  background-color: #ffffff;
  
}

.pagination {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 72px;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  background-color: #E5E5E5;
  border: none;
  cursor: pointer;
}

.pagination-current:active {
background-color: #F2F2F2;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  cursor: pointer;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  border: 3px solid #756257;
  background-color: #68A2CA;
}

.pagination-link:active {
color: rgba(255, 255, 255, 0.3);
background-color: #68A2CA;
}

.page-footer {
  text-align: center;
}

.catalog-page-footer {
  text-align: center;
}

.newsletter {
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  background-image: url("../img/background-2.jpeg");
  background-repeat: no-repeat;
  background-size: 1200px;
}

.catalog-newsletter {
  background-color: #fff;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 94px 240px 15px;
}

.news {
margin: 0 240px 26px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin: 0 200px 94px;
}

.newsletter-email {
  margin: 0;
}

.field {
  width: 559px;
  height: 60px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(242, 242, 242, 0.6);
  background-color: #F2F2F2;
  padding: 0 19px 0 22px;
  border-radius: 10px 0 0 10px;
  border: none;
}

.button-footer {
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-footer:hover {
background-color: #68A2CA;
}

.button-footer:focus {
background-color: #68A2CA;
outline: 3px solid #756257;
}

.button-footer:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(104, 162, 202, 1);
box-shadow: none;
}

.footer {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
}

.footer-social-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 29px 55px 72px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 7px;
}

.footer-social-item:nth-child(3) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  color: #83B3D3;;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-link:hover {
  color: #68A2CA;
  background-color: #FFFFFF;
}

.footer-social-link:focus {
  color: #68A2CA;
  outline: 3px solid #83B3D3;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.footer-social-link:active {
  color: #68A2CA;
  opacity: 0.3;
  background-color: #FFFFFF;
}

.twitter {
  background-image: url("../img/tw.svg");
  width: 18px;
  height: 15px;
  padding: 12px 11px;
}

.facebook {
  background-image: url("../img/fb.svg");
  width: 10px;
  height: 18px;
  padding: 11px 15px;
}

.youtube {
  background-image: url("../img/yt.svg");
  width: 20px;
  height: 16px;
  padding: 12px 10px;
}

.footer-contacts-address-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  margin: 40px 240px 30px;
  text-decoration: underline;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popover {
  position: absolute;
  top: 62px;
  right: 18px;
  box-sizing: border-box;
  width: 400px;
  padding: 25px;
  font-family: "PT Sans ", sans-serif;
  color: #000000;
  background: #FFFFFF;;
  min-height: 186px;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: none;
}

.popover-open {
  display: block;
}

.popover::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 190px;
  width: 20px;height: 9px;
  background-image: url("../img/triangle.svg");
}

.popover-close-button {
  position: absolute;
  top: auto;
  right: -1px;
  width: 400px;
  height: 60px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background: #756257;
  border-radius: 0px 0px 20px 20px;
  border: none;
}

.popover-cart {
  width: 400px;
}

.popover-content {
  height: 100%;
}

.popover-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.button-trash {
opacity: 0.6;
background: none;
border: none;
}

.cart-item {
  display: grid;
  grid-template-columns: 48px 244px 16px;
  column-gap: 17px;
  row-gap: 0px;
  margin-bottom: 25px;
}

.cart-item .cart-image-link {
justify-self: center;
align-self: center;
column-gap: 17px;
grid-row: 1 / 3;
grid-column: 1 / 2;
width: 48px;
height: 48px;
}

.cart-item .cart-item-title {
grid-column: 2 / 3;
grid-row: 1 / 2;
}

.cart-item  .cart-item-type {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.cart-item .button-trash {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.cart-item-title {
  margin: 0;  
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.cart-item-type {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  color: #333333;
}

.cart-items-list {
  padding: 0;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-auth {
  width: 575px;
}

.modal-close-button {
  position: absolute;
  padding: 20px;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  background-image: url("../img/close.svg");
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.modal-close-button:active {
  color: #000000;
  opacity: 0.6;
  background-color: #E6E6E6;
  border: none;
}

.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.field-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one {
  display: flex;
  flex-direction: column;
}

.one .auth-form-field{
  width: 420px;
  height: 50px;
  padding: 19px;
  box-sizing: border-box;
}

.auth-form .field-group {
  margin: 0;
  margin-bottom: 40px;
}

.people {
  display: flex;
}

.arrival-date .auth-form-field {
  font-weight: 700;
  width: 155px;
  font-size: 18px;
  line-height: 40px;
  color: #000;
}

.field-date, 
.field-depature {
  background: #F2F2F2;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.help {
  width: 20px;
  height: 20px;
  background-image: url("../img/tultip.svg");
  background-size: cover;
  background-color: #000 ;
}

.auth-form-button {
  width: 575px;
  background: #83B3D3;
  border-radius: 10px;
  color: #FFFFFF; 
  border: none; 
}

.find-button {
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  width: 575px;
  color: #FFFFFF;
}

