@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  ul,
  li {
    list-style: none;
  }

  .page-header {
    color: #000000;
    background: #FFFFFF;
  }

  .navigation {
    display: flex;
    justify-content: space-around;
  }

   body {
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #E5E5E5;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .navigation-link {
    display: block;
    margin: 20px 16px;
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: none;
  }

  .navigation-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 2px;
  background-color: #000000;
  content: "";
  }

  .navigation-link:hover {
    color: #756257;
  }

  .navigation-link:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  padding: 6px 12px;
  border-radius: 10px;
  outline: none;
  }

  .navigation-link:active {
color: #756257;
opacity: 0.3;
background: none;
box-shadow: none;
}

  .navigation-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  box-shadow: unset 0 0 0 3px #83B3D3;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.navigation-link:active .navigation-icon {
color: #756257;
opacity: 0.3;
background: none;
box-shadow: none;
}

  .navigation-there {
    display: inline-block;
    margin: 16px;
    padding: 10px 0;
    width: 160px;
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    background-color: #756257;
    text-decoration: none;
    text-transform: none;
    border: none;
    cursor: pointer;
  }

.navigation-there:hover {
  background-color: #615048;
}

.navigation-there:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 4px;
  outline: none;
}

.navigation-there:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(97, 80, 72, 1);
box-shadow: none;
}

  .navigation-logo {
    margin-left: 151px;
    margin-right: 209px;
  }

 .main-container {
  flex-grow: 1;
  margin: 0;
} 

.logo-welcome {
  margin: 51px 372px 83px;
}

  .page-container {
  text-align: center;
  background-image: url("../img/index-background.jpeg");
  background-repeat: no-repeat;
  background-size: 1200px;
}

  .description {
    text-align: center;
    background:  #ffffff;
  }
  
  .description-title {
    border: 0;
    margin-top: 63px;
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 36px;
  }

  .description-reason {
    font-size: 22px;
    line-height: 36px;
    background: #FFFFFF;
    margin-bottom: 79px;
  } 

  .advantages-list {
    padding: 0;
  }

  .advantages-item {
    display: flex;
    justify-content: center;
  }

  .advantages-item.dark-blue {
    vertical-align: top;
    background: #83B3D3;
  }

  .advantages-title.dark-blue {
    font-family: "PT Sans";
    font-size: 24px;
    line-height: 28px;
    background: #83B3D3;
    color: #FFFFFF;
    width: 400px;
  }

  .advantages-number.dark-blue,
  .advantages-description.dark-blue {
    color: #FFFFFF;
    width: 250px;
  }  

  .home,
  .souvenir {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    background: rgba(131, 179, 211, 0.12);
    margin-top: 89px;
  }

  .special {
    margin: 23px 75px;
  }

  .blue {
   padding: 0;
   background: rgba(131, 179, 211, 0.2);
  }

  .food {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    background: #FFFFFF;
    margin-top: 89px;
  }

  .advantages-home,
  .advantages-souvenir,
  .advantages-food {
    font-size: 18px;
    line-height: 21px;
    margin:  0 75px 79px;
  }

.light-blue {
  background: rgba(131, 179, 211, 0.12);
  }

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  margin-top: 98px;
  margin-bottom: 25px;
}

.advantages-number {
  margin: 26px 75px;
  font-size: 18px;
  line-height: 21px;
  width: 250px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 26px 90px 77px;
}

.search-hotel {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  background: #FFFFFF;
}

.search-hotel-title {
  margin: 91px 240px 15px;
}

.input {
  margin: 0 240px 73px;
}

.button-search {
  display: inline-block;
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
  padding-top: 13px;
  padding-bottom: 17px;
  width: 575px;
  color: #FFFFFF;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-search:hover {
background-color: #615048;
}

.button-search:focus {
background-color: #615048;
outline: 3px solid #83B3D3;
}

.button-search:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(97, 80, 72, 1);
box-shadow: none;
}

.put {
margin: 0 312px 91px;
}

.main-inner {
  background-image: url("../img/catalog/catalog-background-1.jpeg");
  background-repeat: no-repeat;
  background-size: 1200px;
}

.inner-header-title {
  font-family: PT Sans, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 35px 601px 8px 71px ;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  margin-left: 73px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  line-height: 21px;
  font-size: 16px;
}

.main {
margin-right: 10px;
}

.vector {
  margin-right: 10px;
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.catalog-filter-style {
  font-size: 20px;
  line-height: 26px;
  margin: 0 67px 30px 71px;
  color: #FFFFFF;
}

.catalog-filter-type {
  font-size: 20px;
  line-height: 26px;
  margin: 0 216px 30px 0;
  color: #FFFFFF;
}

.catalog-filter-price {
  font-size: 20px;
  line-height: 26px;
  margin: 0 313px 34px 0;
  color: #FFFFFF;
}

.filter-group {
  padding: 0;
}

.catalog-button {
  padding-left: 81px;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-label {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.button-apply {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  cursor: pointer;
}

.button-apply:hover {
background-color: #68A2CA;
}

.button-apply:focus {
background-color: #68A2CA;
outline: 3px solid #FFFFFF;
}

.button-apply:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(104, 162, 202, 1);
box-shadow: none;
}

.button-throw {
  display: inline-block;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
}

.button-throw:hover {
opacity: 0.6;
background: none;
}

.button-throw:focus {
background: none;
outline: 3px solid #83B3D3;
background-repeat: 4px;
}

.button-throw:active {
color: #FFFFFF;
opacity: 0.3;
background: none;
}

.hotel-choice {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
}

.cover {
  background-color: #fff;
}

.sorting-container {
  display: flex;
}

.find {
  margin: 50px 192px 0 71px;
}

.sorting-type {
  margin: auto;
 display: flex;
 justify-content: flex-end;
}

.select {
  line-height: 23px;
  font-size: 18px;
  width: 287px;
  height: 48px;
  margin: 44px 81px 70px 0;
}

.sorting {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin: 0 51px 105px 302px;
}

.button {
  display: flex;
  box-sizing: border-box;
  margin: 44px 8px 42px 0px;
  padding: 17px 16px;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 4px;
  border-color: #E5E5E5;
  border-style: solid;
  background-color: #ffffff;
  cursor: pointer;
} 

.button:hover {
border: 2px solid #83B3D3;
border-radius: 4px;
}

.button:focus {
border: 2px solid #83B3D3;
box-shadow: none;
}

.button:active {
  border: 2px solid #000000;
}

.button-list {
  border-color: #000000;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.hotel-list {
  margin: 45px 72px 31px;
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #E5E5E5;
  background-color: #ffffff;
}

.select-control {
  font-size: 18px;
  line-height: 23px;
  width: 160px;
  height: 48px;
}

.hotel-card {
  display: flex;
  justify-content: start;
  padding: 30px 0 31px 0;
  border-bottom: 1px solid #E5E5E5;
  background-color: #ffffff;
}

.hotel {
  margin-left: 37px;
  margin-right: auto;
}

.less {
  display: flex;
  margin-bottom: 31px;
}

.hotel-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  font-style: 700;
  color: #000000;
  margin: 0;
  margin-bottom: 1px;
}

.type,
.price {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.price {
  margin: auto;
}

.button-more {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #756257;
  border-radius: 4px;
  padding: 10px 0;
  margin-right: 8px;
  width: 151px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button-more:hover {
background-color: #615048;
}

.button-more:focus {
background-color: #615048;
outline: 3px solid #83B3D3;
}

.button-more:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(97, 80, 72, 1);
box-shadow: none;
}

.button-favorite {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border-radius: 4px;
  padding: 10px 0;
  width: 160px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button-favorite:hover {
background-color: #68A2CA;
}

.button-favorite:focus {
background-color: #68A2CA;
outline: 3px solid #756257;
}

.button-favorite:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(104, 162, 202, 1);
box-shadow: none;
}

.button-light {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 4px;
  padding: 10px 0;
  width: 160px;
  text-align: center;
  border: none;
  cursor: pointer;
}

button-light:hover {
background-color: #7DB54F;
}

.button-light:focus {
background-color: #7DB54F;
outline: 3px solid #756257;
}

.button-light:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(125, 181, 79, 1);
box-shadow: none;
}

.rank {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rating {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 10px 0;
  width: 160px;
  text-align: center;
}

.button-show-more {
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-align: center;
  padding: 0;
  margin: 31px 288px;
  width: 625px;
  border: none;
  cursor: pointer;
}

.pagination-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 31px;
  margin: 0 72px 89px;
  border-top: 1px solid #E5E5E5;
  background-color: #ffffff;
  
}

.pagination {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 0 72px;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  background-color: #E5E5E5;
  border: none;
  cursor: pointer;
}

.pagination-current:active {
background-color: #F2F2F2;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  color: #FFFFFF;
  background-color: #83B3D3;
  border: none;
  cursor: pointer;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  border: 3px solid #756257;
  background-color: #68A2CA;
}

.pagination-link:active {
color: rgba(255, 255, 255, 0.3);
background-color: #68A2CA;
}

.page-footer {
  text-align: center;
}

.catalog-page-footer {
  text-align: center;
}

.newsletter {
  font-size: 22px;
  font-weight: 400;
  color: #FFFFFF;
  background-image: url("../img/background-2.jpeg");
  background-repeat: no-repeat;
  background-size: 1200px;
}

.catalog-newsletter {
  background-color: #fff;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 94px 240px 15px;
}

.news {
margin: 0 240px 26px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin: 0 200px 94px;
}

.newsletter-email {
  margin: 0;
}

.field {
  width: 559px;
  height: 60px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(242, 242, 242, 0.6);
  background-color: #F2F2F2;
  padding: 0 19px 0 22px;
  border-radius: 10px 0 0 10px;
  border: none;
}

.button-footer {
  display: inline-block;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.button-footer:hover {
background-color: #68A2CA;
}

.button-footer:focus {
background-color: #68A2CA;
outline: 3px solid #756257;
}

.button-footer:active {
color: rgba(255, 255, 255, 0.3);
background-color: rgba(104, 162, 202, 1);
box-shadow: none;
}

.footer {
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
}

.footer-social-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 29px 55px 72px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 7px;
}

.footer-social-item:nth-child(3) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  color: #83B3D3;;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-link:hover {
  color: #68A2CA;
  background-color: #FFFFFF;
}

.footer-social-link:focus {
  color: #68A2CA;
  outline: 3px solid #83B3D3;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.footer-social-link:active {
  color: #68A2CA;
  opacity: 0.3;
  background-color: #FFFFFF;
}

.twitter {
  background-image: url("../img/tw.svg");
  width: 18px;
  height: 15px;
  padding: 12px 11px;
}

.facebook {
  background-image: url("../img/fb.svg");
  width: 10px;
  height: 18px;
  padding: 11px 15px;
}

.youtube {
  background-image: url("../img/yt.svg");
  width: 20px;
  height: 16px;
  padding: 12px 10px;
}

.footer-contacts-address-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  margin: 40px 240px 30px;
  text-decoration: underline;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}